recsys_base
recsys_prof
recsys_opt
recsys_time
recsys_opt_st
recsys_opt_omp
*.o
gmon.out
callgrind.out.*
out.txt
*.aux
*.log
*.bbl
*.blg
*.toc
__pycache__/
time_test_*
test_input.txt
raw_benchmark_logs.txt
baseline_full.txt
opt_st_full.txt
opt_omp_full.txt
baseline_verif.txt
opt_st_verif.txt
opt_omp_verif.txt
break_input.txt
correctness_check.txt
run_gdb.sh
gdb_script.txt
gdb_out.txt
baseline_src/
scripts/
baseline_output.txt
opt_verif.txt
optimized_output.txt
